:root {
  --pink: #fa97c2;
  --blue: #2fa0d5;
  --green: #73c926;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

h1,
h2,
h3 {
  font-family: "Changa One", cursive;
  font-weight: 400;
}

h1 {
  font-size: 60px;
  line-height: 60px;
  font-weight: 900;
}

p,
a {
  font-size: 18px;
}

#navbarHeader a {
  font-family: "Changa One", cursive;
  padding: 0 1.5rem;
}

#navbarHeader .active {
  color: var(--blue);
}

#navbarHeader .search-icon {
  color: green;
}

.form-control:focus {
  box-shadow: none !important;
}

#banner {
  background-image: url("images/bg_banner.gif");
}

#banner > div {
  background: url("images/logo_bg.png") left top no-repeat,
    url("images/search_bg.png") right top no-repeat;
}

#banner h1 {
  margin: 60px 0 30px;
}

#banner a {
  border: none;
  border-radius: 15px;
}

.btn-primary {
  background-color: var(--pink) !important;
}

#banner-small {
  height: 5rem;
  display: none;
  background-image: url("images/bg_banner.gif");
}

#about {
  background-color: var(--pink);
}

#about h1,
#about h2,
#about h3 {
  color: white;
}

#about a {
  color: rgb(0, 170, 255);
}

#about .newsletter {
  border: 1px dashed black;
  border-radius: 10px;
}

#about .newsletter button {
  border-radius: 15px;
}

#news .date {
  background-color: var(--green);
  border-radius: 15px;
}

footer {
  background-image: url("images/bg_footer.gif");
}

footer a {
  font-family: "Changa One", cursive;
  padding: 0 1.5rem !important;
  color: rgb(183, 183, 183) !important;
}

footer .active {
  color: var(--pink) !important;
}

@media (max-width: 996px) {
  #main .item {
    margin-bottom: 16px;
  }
}

@media (max-width: 768px) {
  #news .item {
    margin-bottom: 16px;
  }
}

@media (max-width: 576px) {
  #banner {
    display: none;
  }
  #banner-small {
    display: block;
  }
}

@media (min-width: 576px) {
  #banner {
    display: block;
  }
  #banner-small {
    display: none;
  }
}
